@media (max-width: 1200px) {
    html, body {
        font-size: 15px;
    }
}
@media (max-width: 1000px) {
    html, body {
        font-size: 14px;
    }
}
@media (max-width: 900px) {
    html, body {
        font-size: 13px;
    }
    // Header
    .header {
        .header__inner {
            .header__logo {
                .header__logo-title {
                    font-size: 2.6rem;
                }
                .header__logo-subtitle {
                    font-size: 1.625rem;
                }
            }
        }
    }
    .header {
        .header__inner {
            .header__nav {
                display: none;
            }
            .header__nav.active {
                display: block;
                width: 100%;
                height: 100%;
                background-color: $black;
                position: fixed;
                top: 0;
                left: 0;
                .header__list {
                    flex-direction: column;
                    text-align: center;
                    margin-top: 10rem;
                    .header__item {
                        margin-top: 2rem;
                        .header__link {
                            font-size: 2.5rem;
                            margin: 0    
                        }
                        .header__link.header__link_active {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    // Burger
    .burger {
        display: block;
        width: 5rem;
        height: 5rem;
        position: relative;
    }
    .burger span {
        width: 5rem;
        height: 0.4rem;
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .burger span:nth-of-type(1) {
        top: calc(50% - 0.7rem);
    }
    .burger span:nth-of-type(2) {
        top: calc(50% + 0.7rem);
    }
    .burger.active span:nth-of-type(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .burger.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    // Intro
    .intro {
        .intro__inner {
            padding-top: 34rem;
            padding-bottom: 9.75rem;
            .intro__link {
                font-size: 2.4375rem;
                color: $white;
                border: 2px solid $white;
                border-radius: 0.75rem;
                padding: 2.8125rem 5.625rem;
            }
        }
    }
}
@media (max-width: 800px) {
    html, body {
        font-size: 11px;
    }
}
@media (max-width: 450px) {
    html, body {
        font-size: 10px;
    }
}
@media (max-width: 400px) {
    html, body {
        font-size: 9px;
    }
}
@media (max-width: 350px) {
    html, body {
        font-size: 8px;
    }
}
@media (max-width: 300px) {
    html, body {
        font-size: 7px;
    }
}